.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007bff;
    padding: 10px 20px;
    color: #fff;
  }
  
  .navbar-brand a {
    color: #fff;
    font-size: 1.5em;
    text-decoration: none;
  }
  
  .navbar-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navbar-menu li {
    margin-left: 20px;
  }
  
  .navbar-menu a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .navbar-menu a:hover {
    color: #d3d3d3;
  }
  